.App {
  text-align: center;
}

.App-header {
  background-color: #bfd5d5;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

